html, body, div, ul, li {
  vertical-align: baseline;
  display: inline-block;
  text-align: center;
  padding: 0;
  border: 0;
  margin: 0; }

html, body {
  height: 100%; }


body {
  background-position: center center;
  background-color: #fffbf0;
  background-size: cover;
  font-family: sans-serif;
  color: #000;
  line-height: 1.5;
  font-size: 14px;
  min-height: 100%;
  display: table;
  height: 100%;
  width: 100%; }
  body.no-scroll {
    overflow: hidden; }

.header {
    display: table-row;
    vertical-align: middle;
    background: linear-gradient(to bottom, #1e5799 0%,#207cca 0%,#2989d8 42%,#2989d8 42%,#7db9e8 100%);
    background-size: cover;
    margin: 0 0 0 0 ;
    height: 80px;
    width: 100%;
}
.header .logo {
    display: inline-block;
    position: relative;
    float: left;
    z-index: 2; }
    .header .logo img {
      display: inline-block;
      border-radius: 50%;
      max-width: 65px;
      float: left; }
  .header .item {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
    color: white;
    float: right;
    z-index: 2; }
/* Links inside the navbar */
.header input#menu {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    margin-top: 10px;
    font-size: 40px;
    display: none;
    color: white;
    float: right;
    cursor: pointer;
    outline: none; }
    .header input#menu:after {
      content: "\f0c9";
      font-family: "FontAwesome"; }
  .header ul {
    list-style-type: none;
    display: inline-block;
    padding-top: 20px;
    float: right; }
    .header ul li {
      display: inline-block;
      float: left; }
      .header ul li.active a {
        border-bottom: 3px solid white; }
      .header ul li a {
        text-decoration: none; }
        .header ul li a:hover {
          color: #e4e4e4; }
@media only screen and (max-width: 600px) {
  .header .item {
    padding: 5px 0;
    margin: 0; }
  .header ul {
    display: none; }
  .header input#menu {
    display: inline-block;
    cursor: pointer; }
    .header input#menu:checked + ul {
      display: inline-block;
      width: 100%; }
      .header input#menu:checked + ul li {
        display: block;
        width: 100%;
        background-color: #9c9c9c8c;
        margin-top: 15px; }
        .header input#menu:checked + ul li a.item {
          float: none;
          width: 100%;
          height: 100%; } }

@media only screen and (max-width: 600px) {
  .header .item {
    padding: 5px 0;
    margin: 0; }
  .header ul {
    display: none; }
  .header input#menu {
    display: inline-block;
    cursor: pointer; }
    .header input#menu:checked + ul {
      display: inline-block;
      width: 100%; }
      .header input#menu:checked + ul li {
        display: block;
        width: 100%;
        background-color: #9c9c9c8c;
        margin-top: 15px; }
        .header input#menu:checked + ul li a.item {
          float: none;
          width: 100%;
          height: 100%; } }


.content {
    display: table-row;
  text-align: justify;
  vertical-align: middle;
}



.footer {
  background: linear-gradient(to bottom, #1e5799 0%,#207cca 0%,#2989d8 42%,#2989d8 42%,#7db9e8 100%);
  background-size: cover;
  display: table-row;
  font-size: 20px;
  color: white;
  height: 50px; }


.container {
  position: relative;
  max-width: 1240px;
  text-align: center;
  margin: 0 auto;
  width: 100%;

}


.center-align {
  display: table-cell;
  vertical-align: middle; }

input,select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    border-radius: 4px;
    background-color: #f1f1f1;
    color: black;

}



input[type=submit] {
    width: 13%;
    background-color: #3385ff;
    color: #664D45;
    padding: 14px 20px;
  margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.body2{
  color: black;
  width: 100%;
}

#tari {
  width: 70%;
  
}

label[for=tara]{
 
    box-sizing: border-box;

    background-color:#EAF7FD;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

label[for=data]{
 
    box-sizing: border-box;

    background-color:#EAF7FD;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

label[for=profil]{
 
    box-sizing: border-box;

    background-color:#EAF7FD;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
